/* Although not required in some instances, 
I specifically targeted various items just to make it 
easier to verify template/example was followed precicesly*/

html {
    background-color: #020659;
    color: #FFFFFF;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;

}

/* Flexbox fudamentals applied here to correctly order sections*/
/* Mobile First fundamentals applied here since small screen is default */
body {
    font-family: Optima, sans-serif;
    background-color: #030A8C;
    margin: 0 auto;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

/* START - header related css */
nav {
    width: 375px;
    height: 60px;
    flex: 1;
    background-color: #030A8C;
    z-index: 1;
    position: fixed;
    top: 0;
    font-family: raleway, sans-serif;
}

nav li {
    list-style: none;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    background-color: #2104D9;
    display: block;
    text-align: center;
    color: #E3F2FD;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    width: 275px;
    padding-left: 0px;
    padding-top: 16px;
    padding-right: 60px;
}

nav a:hover {
    background-color: #590242;
    color: #FFFFFF;
}

#muzakli {
    position: fixed;
    top: 0;

    font-size: 26px;
    text-decoration: none;
    background-color: #030A8C;
    display: block;
    text-align: center;
    color: #E3F2FD;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    padding: 20px;
    padding-bottom: 9px;
    padding-right: 90px;
    margin-bottom: 0px;
    font-variant: small-caps;
    margin-left: 25px;

}

#muzakheader:hover,
#muzakli:hover {
    background-color: #590242;
    color: #FFFFFF;
}

ul {
    width: 375px;
    z-index: 1;
}

#smooth {
    width: 375px;
    height: 170px;
    flex: 1;
    background-image: linear-gradient(to right, #2104D9, #000000);
}

#smooth h1 {
    padding-left: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 23.5px;
}

#smooth p {
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 10px;
    margin-top: 0px;
    font-size: 16px;
}

/* END - header related css */

/* START - trending section related css */
#trending {
    width: 375px;
    height: 480px;
    flex: 1;
    background-color: #FFFFFF;
}

#trending h2 {
    font-size: 20px;
    padding-top: 35px;
    padding-left: 45px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#trending h3 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #590242;
}

/* END - trending section related css */

/* START - playlist section related css */
#playlists {
    width: 375px;
    height: 480px;
    flex: 1;
    background-color: #0D8DFB;
}

.playlistcontainer {
    padding: 10px;
    width: 145px;
    height: 270px;
    background-color: #2699FB;
    text-align: center;
}

.playlistcontainer:hover,
.curatedcontainer:hover {
    background-color: #590242;
}

#playlists h2,
#curated h2 {
    padding: 0;
    margin: 0;
    padding-left: 45px;
}

#playlists h2,
#curated h2 {
    background-color: white;
    padding-top: 10px;
    margin-top: 0px;
}

#playlists h3,
#curated h3 {
    font-size: 21px;
    margin: 0px;
    line-height: 25px;
}

#playlists p,
#curated p {
    font-size: 16px;
}

/* END- playlist section related css */

/* START - curated section related css */
#curated {
    width: 375px;
    height: 480px;
    flex: 1;
    background-color: #030A8C;
}


.curatedcontainer {
    padding: 10px;
    width: 145px;
    height: 270px;
    background-color: #020873;
    text-align: center;
}

/* END - curated section related css */

/* START - button background related css used in playlists */
.buttonbackground {
    background: white;
    width: 375px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

/* END - button background related css */

/* START - footer related css */
footer {
    width: 375px;
    flex: 1;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}

/* END - footer related css */

/* START - scroll class related css */
.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

dl {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

dt {
    margin-top: 0px;
}

dd {
    margin-left: 5px;
    margin-right: 0px;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

.more {
    text-decoration: none;
    background-color: #590242;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}

.more:hover {
    background-color: #020659;
}

audio::-webkit-media-controls-mute-button {
    background-color: #FFFFFF;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: #FFFFFF;
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba(2555, 255, 255, .5);
}

#trending ::-webkit-scrollbar {
    width: 15px;

}

#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background-color: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}

#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {
    width: 15px;
}

#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {
    background-color: #020659;
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
}

/* END - scroll class related css */

h1,
h2,
h3 {
    font-weight: bold;
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 20px;
    color: #590242;
    line-height: 2em;
}

/* START - character styles as described in assets.adobe page */

h1 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 2em;
    color: #FFFFFF;

}

dt {
    font-family: raleway, sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #590242;
}

#playlists h3,
#curated h3 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}

header p {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#playlists p,
#curated p {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

footer {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #590242;
    background-color: white;
}

dd {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #590242;
}

.more {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}



h2 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #590242;
}

/* END - character styles as described in assets.adobe page */

/* START - Included Menu Code for Mobile First Style (minus the bits you know how to do): */
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before,
label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked~ul {
    max-height: 500px;
}

input:checked~label span {
    background: transparent;
}

input:checked~label span:before {
    transform: rotate(-45deg);
}

input:checked~label span:after {
    transform: rotate(45deg);
}

input:checked~label:not(.steps) span:before,
input:checked~label:not(.steps) span:after {
    top: 0;
}

/* END - Included Menu Code for Mobile First Style (minus the bits you know how to do): */


/* Media Queriers fundamentals applied here to target larger screen */
/* Grid fundamentals applied here to displat body sections and nav */
@media screen and (min-width:834px) {

    body,
    #smooth,
    #trending,
    footer {
        width: 834px;
        padding-left: 0;
        padding-right: 0;
    }

    body {
        display: grid;
        grid-template-columns: 417px 417px;
        grid-template-areas:
            "nav nav"
            "smootharea smootharea"
            "trending trending"
            "play curated"
            "footer footer"
        ;
    }

    nav {
        grid-template-columns: 166.8px 166.8px 166.8px 166.8px 166.8px;
        grid-template-areas: "nava nava nava nava nava";
        padding: 0;
        margin: 0;

        width: 834px;
        background-color: #030A8C;
        grid-area: nav;

        position: fixed;
        top: 0;
        margin-left: 0px;
    }

    nav a {
        grid-area: nava;
        padding: 0;
        margin: 0;
        font-size: 16px;
        background-color: #030A8C;
        position: fixed;
        top: 0;
        padding: 10px;
        padding-bottom: 11.8px;
        width: 130px;

    }

    #navimg {
        padding-top: 10.5px;
        padding-bottom: 12px;
        width: 130px;
    }

    #muzakli {
        grid-area: nava;
        position: fixed;
        top: 0;

        font-size: 20px;
        text-decoration: none;
        background-color: #030A8C;
        display: block;
        text-align: center;
        color: #E3F2FD;
        text-transform: uppercase;
        font-weight: bold;
        width: 150px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 16px;
        font-variant: small-caps;
        margin-left: 0px;
    }

    ul {
        overflow: visible;
        margin-left: 0;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }


    #smooth {
        height: 100px;
        grid-area: smootharea;
    }

    #smooth h1 {
        margin: 0;
        padding: 0;
        padding-left: 45px;
    }

    #smooth p {
        font-size: 14px;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        padding-left: 45px;
        padding-right: 10px;

    }

    #trending {
        grid-area: trending;
        height: 480px;
    }

    #trending h2 {
        padding-left: 45px;
    }

    #trending .more {
        margin-left: 650px;
    }

    #playlists {
        width: 417px;
        height: 600px;
        grid-area: play;
        display: grid;
        grid-template-areas:
            "h2"
            "container"
            "buttonbackground";
    }

    #curated {
        width: 417px;
        height: 600px;
        grid-area: curated;
        display: grid;
        grid-template-areas:
            "h2"
            "container"
            "buttonbackground";
    }

    h2 {
        grid-area: h2;
    }

    .buttonbackground {
        grid-area: buttonbackground;
        width: 200px;
        padding-left: 217px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    #playlists h2,
    #curated h2 {
        background-color: white;
        padding-left: 45px;
        padding-top: 30px;
        margin-top: 0px;
    }

    .verticalscroll {
        height: 460px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .verticalscroll section:first-child {
        margin-top: 270px;
    }

    .verticalscroll section {
        margin-top: 10px;
        position: relative;
    }

    footer {
        grid-area: footer;
        padding-top: 50px;
        padding-bottom: 15px;
    }

    .playlistcontainer,
    .curatedcontainer {
        width: 360px;
        height: 140px;
        padding: 10px;
        margin: 10px;
        flex: 1;
        grid-area: container;
        display: grid;
        grid-template-areas:
            "img h3 ."
            "img p ."
        ;
    }

    .playlistcontainer img,
    .curatedcontainer img {
        width: 130px;
        grid-area: img;
        padding: 0;
        margin: 0;
    }

    .playlistcontainer h3,
    .curatedcontainer h3 {
        grid-area: h3;
        padding: 0;
        margin: 0;
    }

    .playlistcontainer p,
    .curatedcontainer p {
        grid-area: p;
        padding: 0;
        margin: 0;
    }


    label span,
    input {
        display: none;
    }

}